<!doctype html>
<html>
<head>
    <!-- required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    {% block content %}
        <h1>ggdschart_iframe</h1>
        <iframe width="1280" src="{{ ggds_chart_embedurl }}" frameborder="0" style="border:0" allowfullscreen
                id="ggdschart_iframe"
        ></iframe>
    {% endblock %}

    <!--region js base-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!--endregion js base-->

    {% block script %}
    <script>
    $(function(){
        var ggdschart__div_in_iframe = $('#ggdschart_iframe').contents().find('div')
        var ours__div_in_iframe      = $('#ours_iframe').contents().find('div')

        console.log(`ggdschart__div_in_iframe.length : ${ggdschart__div_in_iframe.length}`)  //NOTE for some reason, we CANNOT get .contents() of iframe of ggds here  ie .length = 0 //TODO why?
        console.log(`ours__div_in_iframe.length      : ${ours__div_in_iframe.length}`)       //NOTE while            we CAN get .contents() here normally              ie .length = 7
    })
    </script>
    {% endblock %}

</body>
</html>
